body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', ans-serif;
  background-color: aliceblue;
}

#root {
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 30px 1fr 1fr 1fr;
  grid-template-areas:
    "icon icon minutes"
    "scatterplot field similar"
    "market radar comparison"
    "correlation radar comparison";
}

.uiButton {
  vertical-align: middle;
  cursor: pointer;
}

.icon {
  grid-area: icon;
  vertical-align: middle;
}

.logo {
  width: 50px;
  justify-content: left;
  vertical-align: middle;
}

.title {
  justify-content: right;
  vertical-align: middle;
  font-family: fantasy;
  font-size: 25px;
}

.minutes {
  grid-area: minutes;
  justify-content: left;
  vertical-align: middle;
  text-align: center;
}

#minutesFilter {
  vertical-align: middle;
}

.scatterplot {
  grid-area: scatterplot;
}

.field {
  grid-area: field;
  text-align: center;
  justify-content: center;
}

.radar {
  grid-area: radar;
  text-align: center;
  justify-content: center;
}

.market {
  grid-area: market;
}

.correlation {
  grid-area: correlation;
  text-align: center;
  justify-content: center;
}

.comparison {
  grid-area: comparison;
  text-align: center;
  justify-content: center;
}

.leagueButton {
  display: inline-flex;
  align-items: center;
  gap: 2px;
  padding: 2px 5px;
  margin: 5px;
  background-color: lightgray;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.leagueButton.selected {
  background-color: #2b8cbe;
  color: white;
}

.positionButton {
  margin: 2px;
  padding: 5px 10px;
  background-color: lightgray;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.positionButton.selected {
  background-color: #2b8cbe;
  color: white;
  font-weight: bold;
}

.bandGroup text {
  pointer-events: none; // ensures only the band triggers events
  user-select: none;
  transition: opacity 0.2s ease;
}

.position {
  transition: fill 0.2s ease;
}

rect.selection {
  fill: #2b8cbe;
}